<!DOCTYPE html>
<html>
  <head>
    <title>Owen's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--CSS Declarations (link to files in app/assets/stylesheets)-->  <!--https://medium.com/@rv.results/beginners-guide-to-css-styling-on-a-new-rails-application-267070820ba7-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'index.css' %>

    <!--JS Declarations-->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
